.main_plan{
	margin-top: 1.8rem;
	padding-top: 2.5rem;
}
.backimage{
	background: url("../images/plans.jpeg");
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -1;
}
.Carrier__plan{
	width: 70%;
	position: relative;
	background-color: #228B22;
	border: 2px solid black;
	margin: 0.7rem 0.7rem;
	padding: 0px 1.2rem;
	z-index: -1;
}
.Carrier__plan a{
	text-decoration: none;
	color: black;
}
.Carrier__plan:hover,
.Carrier__plan:active{
	border: 2px solid red;
	box-shadow: 2px 2px 4px black;
}
.badge{
	position: absolute;
	left:80%;
	top: 0%;
}
.plan__info{
	color: #808080;
}
.deep_info{
	border: 1px solid black;
	background-color: white;
	padding: 8px;
	font-size: 1.1rem;
	font-family: 'Lora', serif;
}
.premium__plan{
	background-color: #006400;
}
.premium__plan_title{
	color: white;
}
#Free_plan{
	float: right;
}
.Section_free_plan{
	clear: both;
}

@media(max-width: 40rem){
	.Carrier__plan{
		width: 80%;
		margin: 0.7rem 0rem;
		padding: 0px 0.3rem;
	}
	.badge{
		left:60%;
	}
	#Free_plan{
	float: none;
	}
	.Section_free_plan{
		clear: none;
	}
}
@media(max-width: 25rem){
	.badge{
		left: 0%;
		margin: 0rem;
	}
}
